<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>
  <body>
  	<h1>Bienvenido</h1>
    <p>Se ha creado su cuenta de usuario en <a href="http://crm.detei.com.mx/">crm.toposervis.com</a></p>
    <p><b>Usuario:</b> <%=@user.email %></p>
    <p><b>Contraseña:</b> <%= @password %></p>
  </body>
</html>
