<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>
  <body>
  	<h1>Orden de servicio registrada</h1>
    <p>Estimado cliente, informamos que su orden de servicio <%= @service_order.folio %> ya se encuentra registrada. Para el seguimiento por favor ingrese en el enlace <a href="http://toposervis.com.mx/">toposervis.com.mx</a>  con su cuenta de correo y contraseña.</p>
  </body>
</html>
