<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>
  <body>
  	<h1>Orden de servicio concluida</h1>
    <p>Su order de servicio <%= @service_order.folio %> ya se encuentra concluida.</p>
  </body>
</html>
