<div class="modal-body">

<p>
  <strong>Name:</strong>
  <%= @entry_code.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @entry_code.description %>
</p>

<p>
  <strong>Deleted at:</strong>
  <%= @entry_code.deleted_at %>
</p>


</div>
<div class="modal-footer"> 
     <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= t(:close) %></button>
</div> 

<div id="modal-holder" ></div>


