<!-- START Top Navbar-->
<nav class="navbar topnavbar">
    <!-- START navbar header-->
    <div class="navbar-header">
        <a class="navbar-brand" href="#/">
            <div class="brand-logo">
                <h4 style="color: #fff">CRM Toposervis</h4>
            </div>
            <div class="brand-logo-collapsed">
                <h4 style="color: #fff">T</h4>
            </div>
        </a>
    </div>
    <!-- END navbar header-->
    <!-- START Left navbar-->
    <ul class="navbar-nav mr-auto flex-row">
        <li class="nav-item">
            <!-- Button used to collapse the left sidebar. Only visible on tablet and desktops-->
            <a class="nav-link d-none d-md-block d-lg-block d-xl-block" href="#" data-trigger-resize="" data-toggle-state="aside-collapsed">
            <em class="fas fa-bars"></em>
            </a>
            <!-- Button to show/hide the sidebar on mobile. Visible on mobile only.-->
            <a class="nav-link sidebar-toggle d-md-none" href="#" data-toggle-state="aside-toggled" data-no-persist="true">
            <em class="fas fa-bars"></em>
            </a>
        </li>
        <!-- START User avatar toggle-->
            <!-- Improve-->
        <!-- END User avatar toggle-->
    </ul>
    <!-- END Left navbar-->
    <!-- START Right Navbar-->
    <ul class="navbar-nav flex-row">

        <!-- Fullscreen (only desktops)-->
        <li class="nav-item d-none d-md-block">
            <a class="nav-link" href="#" data-toggle-fullscreen="">
            <em class="fa fa-expand"></em>
            </a>
        </li>
        <!-- END Alert menu-->
       <!-- START Offsidebar button--> 
         <%if user_signed_in? %>  
        <li class="nav-item"> 
            <%=link_to destroy_user_session_path, :class => "nav-link", method: :delete,  data: { turbolinks: false }   do %>
                <em class="icon-lock"></em>
            <%end%>
        </li><!-- #header-nav-right -->
        <%end%>  <!-- #header-nav-right -->
       <!-- END Offsidebar menu-->
    </ul>
    <!-- END Right Navbar-->
    <!-- START Search form-->
    <form class="navbar-form" role="search" action="search.html">
        <div class="form-group">
            <input class="form-control" type="text" placeholder="Type and hit enter ...">
            <div class="fa fa-times navbar-form-close" data-search-dismiss=""></div>
        </div>
        <button class="d-none" type="submit">Submit</button>
    </form>
    <!-- END Search form-->
</nav>
<!-- END Top Navbar-->