<!-- Diagnosis /.modal -->
<div id="note_modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg ui-draggable">
    <div class="modal-content">
      <div class="modal-header"><%= t('help') %></h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
          <div class="form-group">
            <p>
              <%= t('invoice_information')%>
            </p>
          </div>
      </div>
      <div class="modal-footer">
        <div type="button" class="btn btn-danger waves-effect" data-dismiss="modal"><%= t('close')%></div>
      </div>
    </div>
  </div>
</div>