            <!-- START card-->
<div class="card card-default">
  <div class="card-body">
    <h4 class="box-title m-t-40">Abonos <%= number_to_currency(@service_order.partial_payments.sum(:amount)) %></h4>

    <p id="notice"><%= notice %></p>

    <div>
      <% if @service_order.partial_payments %>
      <table class="table table-bordered table-hover toggle-circle">
        <thead>
          <th>Cantidad</th>
          <th>Fecha</th>
        </thead>
      <% @service_order.partial_payments.each do |f| %>
        <tr>
          <td><%= number_to_currency(f.amount) %></td>
          <td><%= f.created_at.strftime("%d-%m-%Y") %></td>
        </tr>    
      <% end %>
      </table>
      <% end %>
    </div>

  </div> <!-- card-body-->
</div> <!-- card-default-->